{% extends 'base.html.twig' %}
{% use "partials/block_tricks_latest.html.twig" %}

{% block title %}Home!{% endblock %}

{% block body %}

<div class="home">
    <h1>Home</h1>
    {{ block('tricks_latest') }}

</div>
{% endblock %}
